div{
    text-align: center;
    position: relative;
    height: 200px;
    bottom: -60px;
    font-size: 200%;
    color: greenyellow;
   
}
body{
    background-color: rgb(199, 133, 133);
}
h1{
    text-align: center;
    color:  greenyellow;
}